/* General CSS */
html body {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: thin;
}

h1{
    background-color: transparent;
    font-weight: bold;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
}

p {
    color: black;
    background-color: transparent;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

 /* Left Column */

#colorDiv {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: thin;
}

.logo {
   text-align: center;
   position: fixed;
   left: 0;
   top: 0;
   padding: 20px;
   margin-left: 40px;
}

#photoSearch{
    position: fixed;
    left: 0;
    bottom: 0;
}

#camera{
    background-color: transparent;
    color: black;
    font-size: 50px;
    padding: 20px;
    margin-left: 40px;
}

#cameraImages{
    float: right;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
}

.photoInfo{
    display: none;
    float: right;
}

.errorInfo{
    display: none;
    font-size: 20px;
}

.wrap
{
  float:left;
  position:relative;
  width:300px;
  height:300px;
  overflow:hidden;
}

img{
 top:0px;
 left:0px;
 position:absolute;
} 

/* Center Column */

 #information{
     padding-top: 40%;
     padding-bottom: 60%;
}

#hexInfo{
    background: none;
    color: black;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

  #colorName{
    background: none;
    color: black;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
  }

/* Right Column */

#info {
    font-size: 20px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    margin-right: 40px;
}

.projectInfo {
    font-size: 16px;
    display: none;
    float: right;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: 50%;
    width: 500%;
}

#generatorBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: transparent;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-right: 40px;
}

/* .learnMore {
    background-color: transparent;
    color: black; 
    font-family: 'Montserrat', sans-serif;
} */