body {
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    
}

.row {
    height: 300px;
}
#colorDiv {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.topHeader {
    background-color: black;

}

.learnMore {
    background-color: black;

    color: white; 
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    height: 100px;
    background-color: black;
    color: white;


}

/*<div id="footer/button"></div>
<div class="container fixed-bottom"></div>*/



header {

}

#info {
    float:right;

}

hidden div {


}
.container-fluid {

}

.wrapper {

}

#generatorBtn {
    
}

 .slider {
    position: absolute;
    right: 0;
    background-color: rgb(34, 33, 33);
    transform: translateX(100%);
    
 }
 
 #info:hover .slider--visible {
    transform: translateX(0%);
    transition: transform 1s linear; 
 } 
  #projectInfo {
      color: white;
  }
  /* .hidden {
      visibility: none;
  } */
  #projectInfo {
      visibility: none;
  }